body {
    background-image: url("/wood.jpg");
    font-family: 'Poppins', sans-serif;
   }

.nav-link:hover{
    background-color:brown;
    color: white;
}

.dropdown-item:hover{
    background-color: brown;
}

.myDiv{
    background-image: url("/info.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    
}

.button{
    bottom: 20px;
}

.button1{
    margin-left: 100px;
    color:white;
    background-color: #A0522D;
    border-radius: 7px;
    width: 100px;
    padding: 6px;
    border: #A0522D ;
    
}

.button1:hover {
    color:#A0522D;
    background-color: aliceblue;
    
}

.offer{
    text-align: center;
    padding-top:30px;
    background-image:url("/wood.jpg");
    height:150px;
}

  .box-wrap{
    display:flex;
    align-items:center;
    justify-content:center;

  }
  .box{

    border:3px solid #d6d6d6;
    box-shadow:0 2px 3px 0px black;
    border-radius:3px;
    transition:.2s all; 
  }
  .box-wrap:hover .box{
    filter:blur(.5px);
    opacity:.5;
    transform: scale(.98);
  }
  .box-wrap:hover .box:hover{
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    box-shadow:0 8px 20px 0px black;
  }

  .offer-button{
      margin-bottom:20px;
      margin-left: 560px;
  }

  .gallery{
      background-image:url("/wood2.jpeg");
      height: 780px;
      
  }
  
.pix {
margin-left:100px;

}

.pix img{
    width:30%;
}

.contact{
background-image:url("/contact.jpg");
height:420px;
}

input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
   
  }
  
  .form{
      margin-left:600px;
    
  }

  input[type=submit] {
    background-color:brown;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
  
  }
  
  input[type=submit]:hover {
    background-color:white;
    color: black;
  }

  footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }